/*
 *  BACKGROUND COLORS
 */
.bg-color-base {
  background: #F88150 !important;
}

.bg-color-white {
  background: #fff !important;
}

.bg-color-heading {
  background: #2B2E38 !important;
}

.bg-color-subtitle {
  background: #666666 !important;
}

.bg-color-link {
  background: #70737C !important;
}

.bg-color-link-hover {
  background: #21253A !important;
}

.bg-color-sky-light {
  background: #fafafa !important;
}

/*
 *  SOCIAL ICONS
 */
.social-icons {
    display: inline-block;
    width: 55px;
    height: 55px;
    font-size: 32px;
}

.social-icons:hover {
  background: #F88150;
}

/* 
 * CV BUTTON
 */
.btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg.focus {
  color: #fff;
  background: #F88150;
  border-color: transparent;
}

/* 
 * PROGRESS BARS
 */
.progress-box .progress {
  height: 5px;
}

/*
 * PROJECTS
 */ 

.project-img {
  height: 220px;
  width: auto;
  display:block;
  margin:auto;
  filter: grayscale(100);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.project-img:hover {
   filter: grayscale(0);
}

/*
 * LINKS
 */

.link {
  padding-right: 12px;
}

.link:after {
  background: #F88150;
}

/*
 * CONTACT INFO
 */
 .contact-info {
   font-size: 20px; 
 }