.social-icons {
    display: inline-block;
    width: 55px;
    height: 55px;
    font-size: 32px;
  }

  .social-icons:hover {
    background: #F88150;
  }

  .btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg.focus {
    color: #fff;
    background: #F88150;
    border-color: transparent;
  }
  